@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;

}

:root {
  font-size: 12px;

  --poppins: "Poppins", sans-serif;
  --bitter: "Bitter", serif;
  
  --nav-sign-up-btn-bg: #353C74;
  --hero-bg: #4B559C;
  --info-section-bg: #E2E2E2;
  --info-section-bg-dark: #CACACA;
  --info-section-bg-light: #D5D5D5;
  --pyoneers-team-section-bg: #5B4B9C;
  --edge-section-bg: #764B9C;
  --faq-section-footer-bg: #E9E9E9;

}

html,
body {
  min-height: 100vh;
  height: 100%;

}

body {
  font-family: var(--bitter);

}

a {text-decoration: none; color: #fff}
li { list-style: none; }
img { height: 100%; }

/* <--- Navbar Start ---> */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 11vh;
  font-family: var(--poppins);
  font-size: 1.33rem;
  background: var(--nav-sign-up-btn-bg);
  color: #fff;

}

.nav-contents {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 31%;

}

.nav__item {cursor: pointer;}

.logo {
  height: 60px;
  width: 60px;

}

/* <--- Navbar End ---> */


/* <--- Hero Start ---> */

.fade-in > * {
  height: 100%;
  width: 100%;

}

.hero { 
  height: 850px; 
  /* border: 2px solid red; */

}

.hero-title {
  height: 74%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background: var(--hero-bg);
  color: #fff;

}

.heading-1 {
  font-family: var(--poppins);
  font-size: 7.49rem;

}

.subtitle {
  font-family: var(--poppins);
  font-size: 1.78rem;
  font-weight: normal;
  width: 40%;
  text-align: center;
  margin: auto;

}

.sign-up-btn {
  padding: 1em 2em;
  border-radius: 20px;
  margin-top: 3rem;
  font-family: var(--poppins);
  cursor: pointer;
  background: var(--nav-sign-up-btn-bg);

}

.hero-info-container {
  background: var(--info-section-bg);
  margin-top: 2em;

}

.hero-info {
  display: flex;
  width: fit-content;
  margin: auto;
  text-align: center;
  font-family: var(--poppins);

}

.hero-info__div {
  padding: 3em 2em;

}

.hero-info__div:nth-child(1),
.hero-info__div:nth-child(3) {
  background: var(--info-section-bg-dark);

}

.hero-info__div:nth-child(2),
.hero-info__div:nth-child(4) {
  background: var(--info-section-bg-light);

}

.info-stats {
  font-size: 2.6rem;
  font-weight: bold;

}

/* <--- Pyoneers Section Start ---> */

.pyoneers-container {
  width: 74%;
  margin: auto;
  padding: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--pyoneers-team-section-bg);
  color: #D9D9D9;
  font-size: 1.3rem;
  line-height: 1.7;
  border-radius: 25px;

}

.pyoneers-container h3,
.pyoneers-container h4 {
  font-family: var(--poppins);
  margin-bottom: 0.5em;

}

.pyoneers-container .left-container {
  display: flex;
  flex-direction: column;
  gap: 4em;
  width: 50%;
  /* margin-right: 4em; */

}

.pyoneers-heading { font-size: 3.16rem; color: #fff; }
.ai-heading,
.data-science-heading,
.python-heading { font-size: 2.667rem; color: #fff;  }

/* <--- Pyoneers Section End ---> */


/* <--- EDGE Section Start ---> */

.edge-container {
  position: relative;
  width: 74%;
  margin: auto;
  padding: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  line-height: 1.7;
  border-radius: 25px;
  background: var(--edge-section-bg);
  color: #D9D9D9;
  margin-top: 3em;

}

.edge-container .left-container {
  display: flex;
  flex-direction: column;
  /* align-items: le; */
  

}

.edge-heading {
  font-size: 3.16rem;
  font-family: var(--poppins);
  color: #fff;
  margin-bottom: 0.5em;

}

/* <--- EDGE Section End ---> */


/* <--- Meet The Team Section Start ---> */

.meet-the-team-container {
  width: 74%;
  margin: auto;
  padding: 10em 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--pyoneers-team-section-bg);
  color: #D9D9D9;
  font-size: 1.3rem;
  line-height: 1.7;
  border-radius: 25px;
  margin-top: 3em;

}

.meet-the-team-container .left-container {
  width: 50%;

}

.meet-the-team-heading {
  font-size: 3.16rem;
  font-family: var(--poppins);
  color: #fff;
  margin-bottom: 0.5em;

}

.meet-the-team_p { width: 90%; }

.socials__item {
  margin-left: 2em;

}

.meet-the-team-container .right-container {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(3, 250px);
  column-gap: 6em;
  row-gap: 5em;
  padding: 2em;
  width: fit-content;
  margin-right: auto;
  font-family: var(--poppins);

}

.img-div {
  width: 100%;
  height: 80%;

}

.img-container {
  width: 240px;
  height: 250px;

}

caption { width: 200px; }
caption > p { font-size: 1rem; }

/* <--- Meet The Team Section End ---> */


/* <--- FAQ Section Start ---> */

.faq-container {
  width: 74%;
  margin: auto;
  padding: 4em;
  background: var(--faq-section-footer-bg);
  font-size: 1.3rem;
  line-height: 1.7;
  border-radius: 25px;
  margin-top: 3em;

}

.faq-heading { 
  font-size: 3.16rem;
  font-family: var(--poppins);
  margin-bottom: 1em;

}

.faq-content {
  display: flex;
  width: 100%;
  gap: 1em;

}


.faq-content .left-container, 
.faq-content .right-container {
  width: 50%;

}

.faq-item { margin-bottom: 2em; }
.faq-subheading { 
  font-size: 2.37rem; 
  line-height: 35px;
  margin-bottom: 1em;

}

/* <--- FAQ Section End ---> */


/* <--- Footer Start ---> */

.footer {
  display: flex;
  align-items: center;
  height: 493px;
  background: var(--faq-section-footer-bg);
  padding: 10em;
  margin-top: 3em;

}

.footer__logo {
  height: 300px;
  width: 300px;
  margin-bottom: 2em;

}

.copyright_p { text-align: center; }

.footer > .right-container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;

}

.footer__subheading {
  font-family: var(--poppins);
  font-size: 1.77rem;
  margin-bottom: 1em;

}

.footer > 
.right-container > 
.right-container__subcontainer >
p {
  cursor: pointer;

}

/* <--- Footer End ---> */